<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>شامپو ریزش مو حنانه</title>
    <link rel="stylesheet" href="assets/css/output.css" />
    <script type="text/javascript" src="assets/js/jquery-2.1.4.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-M8GKVH5");
    </script>
    <!-- End Google Tag Manager -->

    <!-- yektanet  -->
    <script>
      !(function (t, e, n) {
        (t.yektanetAnalyticsObject = n),
          (t[n] =
            t[n] ||
            function () {
              t[n].q.push(arguments);
            }),
          (t[n].q = t[n].q || []);
        var a = new Date(),
          r =
            a.getFullYear().toString() +
            "0" +
            a.getMonth() +
            "0" +
            a.getDate() +
            "0" +
            a.getHours(),
          c = e.getElementsByTagName("script")[0],
          s = e.createElement("script");
        s.id = "ua-script-Dfk9cCxo";
        s.dataset.analyticsobject = n;
        s.async = 1;
        s.type = "text/javascript";
        (s.src =
          "https://cdn.yektanet.com/rg_woebegone/scripts_v3/Dfk9cCxo/rg.complete.js?v=" +
          r),
          c.parentNode.insertBefore(s, c);
      })(window, document, "yektanet");
    </script>
  </head>
  <body
    style="
      background-image: url('./assets/img/wall.png');
      background-color: rgba(0, 0, 0, 0.89);
      background-blend-mode: lighten;
    "
    class="h-48 bg-no-repeat bg-cover"
  >
    <header
      class="h-[200px] sm:h-[290px] lg:h-[468px] 2xl:h-[560px] w-full text-[10px] md:text-sm lg:text-[30px] 2xl:text-[40px]"
    >
      <div
        class="h-full w-full desktop hidden md:block  bg-repeat-y bg-cover bg-center"
        style="background-image: url('./assets/img/black-friday.webp')"
      >
        <div class="h-full w-full flex flex-col justify-end py-[3%] gap-1.5">
          <h1
            class="text-center translate-x-[10%] text-white font-black text-lg lg:text-3xl xl:text-4xl xl:py-3"
          >
            به خــاطر شما دومی رو رایگان کردیم
          </h1>
          <h2
            class="text-center translate-x-[10%] text-white font-black text-lg lg:text-3xl xl:text-4xl"
          >
            یک محصول بخرید، دومی مهمان ما
          </h2>
        </div>
      </div>
      <div
        class="h-full w-full mobile block md:hidden bg-no-repeat bg-cover bg-center"
        style="background-image: url('./assets/img/black-banner-mobile.png')"
      >
        <div class="h-full w-full flex flex-col justify-end py-[3%] gap-1">
          <h1
            class="text-center translate-x-[8%] text-white text-sm font-black"
          >
            به خــاطر شما دومی رو رایگان کردیم
          </h1>
          <h2
            class="text-center translate-x-[8%] text-white text-sm font-black"
          >
            یک محصول بخرید، دومی مهمان ما
          </h2>
        </div>
      </div>
    </header>
    <main>
      <section  class="px-2">
        <div class="swiper products-one mt-5 px-2 select-none">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-one.png" alt="product-one" class="w-full h-full block object-cover ">
            <div class="absolute top-[-10%] start-[5%] w-10 h-10 md:w-20 md:h-20 animate-pulse delay-75">
              <img src="./assets/img/fifty-percent.png" alt="50%" class="w-full h-full block object-contain">
            </div>
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-two.png" alt="product-two" class="w-full h-full block object-cover ">
            <div class="absolute top-[85%] start-[5%] h-7 w-7 md:h-14 md:w-14 animate-pulse delay-100">
              <img src="./assets/img/one-plus-one.png" alt="50%" class="w-full h-full block object-contain">
            </div>
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-three.png" alt="product-three" class="w-full h-full block object-cover ">
            <div class="absolute top-1/3 start-[5%] w-10 h-10 md:w-20 md:h-20 animate-pulse delay-0">
              <img src="./assets/img/fifty-percent.png" alt="50%" class="w-full h-full block object-contain">
            </div>
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-four.png" alt="product-four" class="w-full h-full block object-cover ">
            <div class="absolute top-[-10%] start-[5%] w-10 h-10 md:w-20 md:h-20 animate-pulse">
              <img src="./assets/img/one-plus-one.png" alt="50%" class="w-full h-full block object-contain">
            </div>
            
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-five.png" alt="product-fiv" class="w-full h-full block object-cover ">
            <div class="absolute top-[85%] start-[5%] h-7 w-7 md:h-14 md:w-14 animate-pulse">
              <img src="./assets/img/one-plus-one.png" alt="50%" class="w-full h-full block object-contain">
            </div>
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-six.png" alt="product-six" class="w-full h-full block object-cover ">
            <div class="absolute top-[40%] end-[3%] w-10 h-10 md:w-20 md:h-20 animate-pulse">
              <img src="./assets/img/fifty-percent.png" alt="50%" class="w-full h-full block object-contain">
            </div>
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-seven.png" alt="product-seven" class="w-full h-full block object-cover ">
            <div class="absolute top-[-10%] end-[5%] w-10 h-10 md:w-20 md:h-20 animate-pulse">
              <img src="./assets/img/one-plus-one.png" alt="50%" class="w-full h-full block object-contain">
            </div>
            </div>
           
           
            </div>
      </section>
    </main>
    <section class="z-10 pb-6 pt-8 overflow-hidden ">
      <h3 class="text-base font-black md:text-2xl lg:text-[40px] text-center text-white">یک محصول بخرید، دومی مهمون ما</h3>
      <h4 class="text-xl md:text-3xl lg:text-[64px] text-center text-white py-8">دریـــافـــت شــمـاره</h4>
      <form class="md:mt-5 px-6 md:px-0" method="post" id="myForm">
        {% csrf_token %}
        <div
          class="rounded-full bg-white overflow-hidden py-2  flex items-center  lg:max-w-[600px] mx-auto relative z-10 border-[1px] border-black h-20 md:h-24"
        >
          <button
            class="rounded-full text-white bg-red-500 border-white border-[1px] outline-none h-full aspect-square text-base md:text-xl -translate-x-2"
            type="submit"
          >
            ثبت
          </button>
          <input
            type="text"
            dir="ltr"
            id="phoneNumber"
            class=" input w-full h-full py-2 pe-4 ps-10 bg-inherit text-black/60 outline-none border-none  text-2xl "
            placeholder="0912450****"
            required="required"
            maxlength="11"
            autocomplete="off"
          />
        </div>
      </form>
    </section>
 
      <section  class="max-w-[90%] mx-auto">
        <div class="swiper products-two mt-5 px-2 select-none">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-one.png" alt="product-one" class="w-full h-full block object-cover ">
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-two.png" alt="product-two" class="w-full h-full block object-cover ">
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-three.png" alt="product-three" class="w-full h-full block object-cover ">
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-four.png" alt="product-four" class="w-full h-full block object-cover ">
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-five.png" alt="product-fiv" class="w-full h-full block object-cover ">
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-six.png" alt="product-six" class="w-full h-full block object-cover ">
            </div>
            <div
              class="swiper-slide rounded-3xl  shadow-md shadow-black/50 my-8 h-[300px] 3xl:h-56 relative"
            >
            <img src="./assets/img/p-seven.png" alt="product-seven" class="w-full h-full block object-cover ">
            </div>
          
            </div>

    </section>
    <section class="py-8 flex justify-between gap-4 max-w-[90%] mx-auto">

<div  class="w-full lg:max-w-[800px] self-center flex items-center justify-end">
<p class="text-xl sm:text-3xl md:text-4xl lg:text-[40px] text-center xl:text-[60px] text-white py-4 lg:leading-[4rem] xl:leading-[5rem] flex items-center justify-end">منتظرت بودیم! بزرگتـــــــرین
  تخفیف های حنانه اینجاست!</p>
</div>
<div class="w-full lg:max-w-[800px]  self-center flex items-center justify-end">
  <img src="./assets/img/neon.png" alt="neon" class="w-full h-full block max-w-[600px] max-h-[600px] aspect-[1541/980] object-cover animate-pulse">
</div>
    </section>
    <footer class="bg-black text-white py-10 ">
      <div class="max-w-[90%] mx-auto h-full flex items-center justify-between gap-8 lg:gap-16">
      <div class="flex flex-col lg:flex-row lg:items-center justify-between w-full gap-2 lg:gap-0">
        <p class=" lg:ps-0 font-bold text-base lg:text-xl">فروشگــاه بیستلنــد</p>
        <div class="flex items-center gap-1 md:gap-2">
          <img src="assets/img/time.png" alt="time" class='w-6 h-6' />
          <div class="flex flex-col gap-2">
            <p>ساعت کـاری مجموعه بیستلنـــد</p>
            <p>شنبه تا چهارشنبه 9 صبح  الی 16</p>
            <p>پـنـجشنبــه 9 صـــبــح الی 14</p>
          </div>
        </div>
        <div class="flex flex-col gap-1 md:gap-2">
          <p class="hidden lg:block">راههای ارتباطی </p>

          <div class="flex items-center gap-1 md:gap-2">
            <img src="assets/img/time.png" alt="time" class='w-6 h-6' />
            <a href="tel:02191009893">02191009893</a>
          </div>
          <div class="flex items-center gap-1 md:gap-2">
            <img src="assets/img/time.png" alt="time" class='w-6 h-6' />
            <p>

              20land.shop
            </p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-4  gap-y-10">
       
          <div class="flex flex-col items-center gap-2">
            <img src="assets/img/icons4.png" alt="icon4" class="w-8 h-8 object-contain" />
            <p class="text-center text-xs sm:text-sm ">مشاوره تخصصی رایگان</p>
          </div>
          <div class="flex flex-col items-center gap-2">
            <img src="assets/img/icons3.png" alt="icon3" class="w-8 h-8 object-contain" />
            <p class="text-center text-xs sm:text-sm ">پشتیبانی تا پایان دوره درمان</p>
          </div>
          <div class="flex flex-col items-center gap-2">
            <img src="assets/img/icons2.png" alt="icon2" class="w-8 h-8 object-contain" />
            <p class="text-center text-xs sm:text-sm ">تضمین اصالت کالا</p>
          </div>
  
          <div class="flex flex-col items-center gap-2">
            <img src="assets/img/icons1.png" alt="icon1" class="w-8 h-8 object-contain" />
            <p class="text-center text-xs sm:text-sm ">ارسال رایگان</p>
          </div>
       
      </div>
      
    </div>
    </footer>
    <div class="msg-hdlrr modal">
      <div class="content">
        <div class="text">
          <p>
            از اعتمــــاد شمـــا سپاسگــزاریــــم مشــــاوریــــــن مـــــا به
            زودی بــــا شمـــــا تمـــــاس خواهـــــند گرفت
          </p>
          <button class="close-msg">متوجه شدم</button>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("#myForm").on("submit", function (e) {
          e.preventDefault();
          const phoneNumber = document.getElementById("phoneNumber");
          if (phoneNumber?.value?.length == 11) {
            this.submit();
          } else {
            alert("شماره موبایل صحیح نیست");
          }
        });

        $('.msg-hdlrr').css('height', `${$(window).height()}px`);
        {% if messages %}
        {% for msg in messages %}
        {% if msg.tags or lower == "success" %}
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('isSuccess', 'true'); // or any other value you want to set
        const newUrl = `${window.location.origin}${window.location.pathname}?${urlParams.toString()}`;
         window.history.pushState({}, '', newUrl);
        $('.msg-hdlrr').show();
        {% endif %}
        {% endfor %}
        {% endif %}
        $('.close-msg').click(function () {
          $('.msg-hdlrr').hide();
        });
      })
    </script>
    <script src="./assets/js/script.js"></script>
  </body>
</html>
