@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransans-bold;
  src: url("../font/IRANSansDN-Bold.ttf");
}
@font-face {
  font-family: iransans;
  src: url("../font/IRANSANS_MEDIUM.TTF");
}

body {
  font-family: iransans;
  direction: rtl !important;
  background-image: url("../img/wall.png");
  background-color: rgba(0, 0, 0, 0.89);
  background-blend-mode: lighten;
}

.desktop-banner {
  background-image: url("../img/black-friday.webp");
}

.mobile-banner {
  background-image: url("../img/black-banner-mobile.png");
}

.swiper {
  width: 100%;
  height: 100%;
}

@keyframes pulse {
  from {
    opacity: 0%;
    color: transparent;
  }
  to {
    opacity: 100%;
    color: black;
  }
}

.input::placeholder {
  animation: 2s infinite alternate pulse !important;
}

.input::-webkit-input-placeholder {
  animation: 2s infinite alternate pulse;
}
.input:-moz-placeholder {
  animation: 2s infinite alternate pulse;
}
.input::-moz-placeholder {
  animation: 2s infinite alternate pulse;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

.modal .content {
  width: 500px;
  max-width: 80%;
  padding: 60px 40px;
  background-color: #91b3fa;
  border-radius: 50px;
  margin: 20vh auto 0;
  font-size: 25px;
  color: white;
  text-align: center;
}

.modal button {
  margin-top: 50px;
  padding: 10px 30px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background-color: #ff6b00;
}
